.cus {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

.cus a {
    background-color: transparent;
}

.cus a:active,
.cus a:hover {
    outline: 0;
}

.cus strong {
    font-weight: bold;
}

.cus h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.cus img {
    border: 0;
}

.cus hr {
    box-sizing: content-box;
    height: 0;
}

.cus kbd {
    font-family: monospace, monospace;
    font-size: 1em;
}

.cus input {
    color: inherit;
    font: inherit;
    margin: 0;
}

.cus html input[disabled] {
    cursor: default;
}

.cus input {
    line-height: normal;
}

.cus input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.cus table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cus td,
.cus th {
    padding: 0;
}

.cus * {
    box-sizing: border-box;
}

.cus input {
    font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cus a {
    color: #4078c0;
    text-decoration: none;
}

.cus a:hover,
.cus a:active {
    text-decoration: underline;
}

.cus hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

.cus hr:before {
    display: table;
    content: "";
}

.cus hr:after {
    display: table;
    clear: both;
    content: "";
}

.cus h1,
.cus h2,
.cus h3,
.cus h4,
.cus h5,
.cus h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}

.cus h1 {
    font-size: 30px;
}

.cus h2 {
    font-size: 21px;
}

.cus h3 {
    font-size: 16px;
}

.cus h4 {
    font-size: 14px;
}

.cus h5 {
    font-size: 12px;
}

.cus h6 {
    font-size: 11px;
}

.cus blockquote {
    margin: 0;
}

.cus ul,
.cus ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.cus ol ol,
.cus ul ol {
    list-style-type: lower-roman;
}

.cus ul ul ol,
.cus ul ol ol,
.cus ol ul ol,
.cus ol ol ol {
    list-style-type: lower-alpha;
}

.cus dd {
    margin-left: 0;
}

.cus code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.cus .select::-ms-expand {
    opacity: 0;
}

.cus:before {
    display: table;
    content: "";
}

.cus:after {
    display: table;
    clear: both;
    content: "";
}

.cus>*:first-child {
    margin-top: 0 !important;
}

.cus>*:last-child {
    margin-bottom: 0 !important;
}

.cus a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.cus .anchor {
    display: inline-block;
    padding-right: 2px;
    margin-left: -18px;
}

.cus .anchor:focus {
    outline: none;
}

.cus h1,
.cus h2,
.cus h3,
.cus h4,
.cus h5,
.cus h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.4;
}

.cus h1:hover .anchor,
.cus h2:hover .anchor,
.cus h3:hover .anchor,
.cus h4:hover .anchor,
.cus h5:hover .anchor,
.cus h6:hover .anchor {
    text-decoration: none;
}

.cus h1 {
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

.cus h1 .anchor {
    line-height: 1;
}

.cus h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

.cus h2 .anchor {
    line-height: 1;
}

.cus h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.cus h3 .anchor {
    line-height: 1.2;
}

.cus h4 {
    font-size: 1.25em;
}

.cus h4 .anchor {
    line-height: 1.2;
}

.cus h5 {
    font-size: 1em;
}

.cus h5 .anchor {
    line-height: 1.1;
}

.cus h6 {
    font-size: 1em;
    color: #777;
}

.cus h6 .anchor {
    line-height: 1.1;
}

.cus p,
.cus blockquote,
.cus ul,
.cus ol,
.cus dl,
.cus table {
    margin-top: 0;
    margin-bottom: 16px;
}

.cus hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}

.cus ul,
.cus ol {
    padding-left: 2em;
}

.cus ul ul,
.cus ul ol,
.cus ol ol,
.cus ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.cus li>p {
    margin-top: 16px;
}

.cus dl {
    padding: 0;
}

.cus dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}

.cus dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.cus blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}

.cus blockquote>:first-child {
    margin-top: 0;
}

.cus blockquote>:last-child {
    margin-bottom: 0;
}

.cus table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

.cus table th {
    font-weight: bold;
}

.cus table th,
.cus table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.cus table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.cus table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.cus img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.cus kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.cus kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
}

.cus .task-list-item {
    list-style-type: none;
}

.cus .task-list-item+.task-list-item {
    margin-top: 3px;
}

.cus .task-list-item input {
    margin: 0 0.35em 0.25em -1.6em;
    vertical-align: middle;
}

.cus:checked+.radio-label {
    z-index: 1;
    position: relative;
    border-color: #4078c0;
}

.cus code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.cus code:before,
.cus code:after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.cus > pre {
    margin: 20px -10% !important;
    white-space: normal;
}

.cus .highlight pre {
    color: #ffffff;
    background-color: #1B2B34;
    white-space: pre;
    padding: 20px;
    overflow: auto;
    max-height: 600px;
    span {
        font-family: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 14px;
        background-color: transparent;
    }
}

.cus {
    .kd,
    .k {
        color: #C594C5
    }
    .p,
    .kr {
        color: #5FB3B3
    }
    .o,
    .sr,
    .nx,
    .err,
    {
        color: #ffffff
    }
    .nb {
        color: #FAC863
    }
    .mi {
        color: #F99157
    }
    .s1,
    .s2 {
        color: #99C794
    }
    .cm,
    .c1 {
        color: #65737E
    }
}

code[class*=lang-]::before {
    content: "</Code>";
    text-transform: uppercase;
    display: block;
    text-align: right;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #999;
    background-color: rgba(17, 28, 34, 1)
}
